
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">BG Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">Panier</a>
          </li>
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
          <li ngbDropdown *ngIf="appUser; else anonymousUser"class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
              {{appUser.name}}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <li ><a class="dropdown-item" routerLink="/my/orders">Mes commandes</a></li>

              <ng-container *ngIf="appUser.isAdmin">
                <li ><a class="dropdown-item" routerLink="/admin/orders">Gérer mes commandes</a></li>
                <li ><a class="dropdown-item" routerLink="/admin/products">Gérer mes produits</a></li>
              </ng-container>

              <li (click)="logout()"><a class="dropdown-item" >Déconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>