<p><a routerLink="/admin/products/new" class="btn btn-primary"> Nouveau Produit</a></p>
<p>
    <input 
    #query
    (ketup)='filter(query.value)'
    type="text" class="form-control" placeholder="Recherche">
    </p>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.$key]"> Modifier</a>
            </td>
        </tr>
    </tbody>

</table>