<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse">
      <a class="navbar-brand" routerLink="/">
        <i class="fa fa-leaf" aria-hidden="true"></i> Giusti Shop
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="nav navbar-nav navbar-right" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <span *ngIf="cart$ | async as cart" class="badge rounded-pill bg-warning text-dark">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              {{ cart.totalItemCount }}
            </span>
          </a>
        </li>

        <li class="nav-item">
          <ng-template #anonymousUser>
            <a class="nav-link" routerLink="/login">Login</a>
          </ng-template>
        </li>

        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{appUser.name}}
          </a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" routerLink="/my/orders">Mes commandes</a></li>

            <ng-container *ngIf="appUser.isAdmin">
              <li><a class="dropdown-item" routerLink="/admin/orders">Gérer mes commandes</a></li>
              <li><a class="dropdown-item" routerLink="/admin/products">Gérer mes produits</a></li>
            </ng-container>

            <li (click)="logout()"><a class="dropdown-item">Déconnexion</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>

</nav>