<div class="row">
    <div class="col-3">
        <product-filter [category]="category">

        </product-filter>
    </div>
    <div class="col">
        <div class="row row-cols-2">
            <div *ngFor="let p of filteredProducts" class="col">
                <div class="card" style="width: 15rem;">
                    <img [src]="p.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.price | currency:"EUR":true}}</p>
                        <a href="#" class="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



